
/* PAGE SUB KV Section */

.page-sub-kv-section {
    overflow: hidden;
}

.page-sub-kv-section .row {
    max-width: 1270px;
    width: 100%;
    position: relative;
}

.page-sub-kv-section .row .container-background {
    position: absolute;
    width: 100%;
    height: 240px;
    z-index: -1;
    overflow: hidden;
}

.page-sub-kv-section .row .container-background img.background-image {
    max-width: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.page-sub-kv-section .row .container-background .background-image.hide-dt,
.page-sub-kv-section .row .container-background .background-image.hide-tb{
    display: none;
}


.page-sub-kv-section .row .container-background::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: linear-gradient(transparent 20%, white 90%);
}

.page-sub-kv-section .row .container-title {
    padding-top: 200px;
}

.page-sub-kv-section .section-container-title .title {
    border: 4px solid var(--bg-color-second);
    border-radius: 25px;
}

.page-sub-kv-section .container-title-image {
    position: relative;
    width: 336px;
    margin: auto;
    left: 15px;
}

.page-sub-kv-section .container-title-image .container-phone{
    position: absolute;
    bottom: 39px;
    left: 92px;
    width: 114px;
}

.page-sub-kv-section .container-title-image .container-phone a{
    flex-direction: column;
    color: white;
}

.page-sub-kv-section .container-title-image .container-phone .number{
    font-size: 16px;
    letter-spacing: 1px;
}

.page-sub-kv-section .container-title-image .container-phone .schedule{
    flex-direction: column;
    align-items: flex-end;
    font-size: 7px;
    padding-right: 10px;
    letter-spacing: 0.5px;
}

.page-sub-kv-section .container-title-image .container-phone .schedule i {
    font-style: normal;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .page-sub-kv-section .row {
        display: flex;
        justify-content: flex-end;
    }

    .page-sub-kv-section .row .container-background {
        height: 450px;
    }

    .page-sub-kv-section .row .container-background::before {
        background-image: linear-gradient( 90deg, transparent 45%, white 90%);
    }

    .page-sub-kv-section .row .container-background .background-image {
        display: none;
    }
    .page-sub-kv-section .row .container-background .background-image.hide-tb{
        display: unset;
    }

    .page-sub-kv-section .row .container-title {
        padding: 25px 50px;
    }

    .page-sub-kv-section .section-container-title .title {
        background-color: white;
    }

    .page-sub-kv-section .container-title-image {
        left: 15px;
    }

}

@media screen and (min-width: 1100px ) {

    .page-sub-kv-section .row {
        height: 688px;
        align-items: center;
    }
    .page-sub-kv-section .row .container-background {
        height: 100%;
    }

    .page-sub-kv-section .row .container-background .background-image {
        display: none;
    }
    .page-sub-kv-section .row .container-background .background-image.hide-dt{
        display: block;
    }

    .page-sub-kv-section .container-title-image {
        width: 420px;
        left: 25px;
    }

    .page-sub-kv-section .container-title-image .container-phone{
        position: absolute;
        bottom: 43px;
        left: 115px;
        width: 175px;
    }

    .page-sub-kv-section .container-title-image .container-phone .number{
        font-size: 24px;
        letter-spacing: 1px;
    }
    

    .page-sub-kv-section .container-title-image .container-phone .schedule{
        flex-direction: column;
        align-items: flex-end;
        font-size: 10px;
        padding-right: 32px;
        letter-spacing: 0.5px;
    }
    
   

}



/* === BEGINNER GUIDE section === */

.about-our-clinic-section {
    background-image: url("../images/beginner_guide_bg.png");
}

.about-our-clinic-section .section-container-title .title {
    padding: 1px 15px;
    color: white;
    background-color: var(--bg-color-second);
}

.about-our-clinic-section .section-container-title .english-title {
    padding: 1px 4px;
    color: white;
    background-color: var(--bg-color-second);
}

.about-our-clinic-section .container-content {
    padding: 0 20px;
    overflow: hidden;
}

.about-our-clinic-section .container-content .row .col {
    padding: 10px 0;
}

.about-our-clinic-section .container-content .row-1 {
    flex-direction: column;
}

.about-our-clinic-section .container-content 
.row-1 .card {
    background-color: white;
}

.about-our-clinic-section .container-content 
.row-1 .card p{
    font-weight: 400;
    margin: 15px auto;
}

.about-our-clinic-section .container-content 
.row-1 .card .link-button {
    background-color: var(--bg-color-second) !important;
    color: white;
}

.about-our-clinic-section .container-content 
.row-1 .card .card-img {
    top: unset;
    right: unset;
    left: -20px;
    bottom: 0;
}

/* BEGINNER GUIDE TABLET */

@media screen and (min-width: 768px) {

    .about-our-clinic-section .container-content {
        padding: 0 10px;
        overflow: hidden;
    }

    .about-our-clinic-section .container-content .row-1 {
        flex-direction: row;
    }

    .about-our-clinic-section .container-content 
    .row-1 .col {
       
        padding-left: 50px;
    }

    .about-our-clinic-section .container-content 
    .row-1 .col-1 {
        padding: 100px 0;
        padding-left: 20px;
    }

    .about-our-clinic-section .container-content 
    .row-1 .col-1 img {
        display: block;
        width: 100%;
    }

    .about-our-clinic-section .container-content 
    .row-1 .col-2 .card {
        width: 365px;
        padding: 44px;
        border-top: 5px solid var(--bg-color-second);
        border-bottom: 5px solid var(--bg-color-second);
    }

    .about-our-clinic-section .container-content 
    .row-1 .col-2 .card .card-img {
        top: unset;
        bottom: -15px;
        right: unset;
        left: -60px;
        width: 100px;
    }
    
}

/* BEGINNER GUIDE PC */

@media screen and (min-width: 1100px) {

    .about-our-clinic-section .container-content {
        max-width: 1200px;
        width: 100%;
        margin: auto;
        padding: 0 10px;
        overflow: hidden;
    }

    .about-our-clinic-section .container-content .row-1 {
        flex-direction: row;
        justify-content: center;
    }

    .about-our-clinic-section .container-content 
    .row-1 .col {
        width: 50%;
        padding: 20px 0;
    }

    .about-our-clinic-section .container-content .row-1 .col-1 {
        padding: 47px 0;
        padding-left: 54px;
    }

    .about-our-clinic-section .container-content 
    .row-1 .col-1 img {
        display: block;
        max-width: 653px;
        width: 100%;
    }

    .about-our-clinic-section .container-content 
    .row-1 .col-2 {
        padding-left: 120px;
    }

    

    .about-our-clinic-section .container-content 
    .row-1 .col-2 .card {
        width: 470px;
        padding: 70px 30px;
        border-top: 5px solid var(--bg-color-second);
        border-bottom: 5px solid var(--bg-color-second);
        box-shadow: 20px 20px var(--shadow-color-second);
    }

    .about-our-clinic-section .container-content 
    .row-1 .col-2 .card .top {
        margin-bottom: 40px;
      }

    .about-our-clinic-section .container-content 
    .row-1 .card .link-button {
       max-width: 300px;
       margin-top: 50px;
    }

    .about-our-clinic-section .container-content 
    .row-1 .col-2 .card .card-img {
        top: unset;
        bottom: -25px;
        left: -120px;
        width: 138px;
    }
    
}


/* === for-job-seekers === */

.for-job-seekers {
    overflow: hidden;
}

.for-job-seekers .row-1 {
   flex-direction: column;

}

.for-job-seekers .row {
    padding: 0 20px;
}

.for-job-seekers .row-1 .col-2 {
    order: 1;
}

.for-job-seekers .row-1 .col-1 {
    order: 2;
}

.for-job-seekers .row-1 .col-2 p {  
   margin-bottom: 15px;
   line-height: 30px;
   color: var(--font-color-main);
}

.for-job-seekers .row-1 .col-1 .container-images {
    position: relative;
    width: 320px;
    height: 346px;
    margin: 15px auto;
    margin-bottom: 30px;
}

.for-job-seekers .row-1 .col-1 .container-images .img-1 {
    position: absolute;
    width: 229px;
    left: 0;
    top: 0;
    z-index: -1;
}


.for-job-seekers .row-1 .col-1 .container-images .img-2{
    position: absolute;
    width: 295px;
    bottom: 0;
    right: 0;
}

.for-job-seekers .row-2 {
    position: relative;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 0;
}

.for-job-seekers .row-2::before {
    position: absolute;
    content: "";
    display: block;
    width: 75%;
    height: 2px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: rgb(224, 224, 224);
}

    
.for-job-seekers .row-2 .card-link .container {
    line-height: 20px;
}

